{{#iff kind 'movie'}}
<div class="row row-cols-1 row-cols-md-3 g-4 mx-5">
    {{#each movies}}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{MovImg}}" class="card-img-top" alt="{{MovId}}" style="width: 286px; height: 423px">
            <div class="card-body">
                <h5 class="card-title">{{MovTitle}} ({{MovYear}})</h5>
                <p class="card-text">Rating: {{MovRating}}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a href="/movie/{{MovId}}" class="card-link">See more</a>
                <a href="/movie/favorite/add/{{MovId}}" class="card-link">Add to Favorite</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
{{#iff kind 'cast'}}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each casts}}
        <tr>
            <th scope="row">{{CasId}}</th>
            <td><img src="{{CasImg}}" style="width: 120px; height: 100px"/></td>
            <td>{{CasName}}</td>
            <td><a href="/cast/{{CasId}}">See more</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/iff}}
{{/iff}}

<div class="row row-cols-1 my-5">
{{> pagination}}
</div>