<div class="col">
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title">{{reviewTitle}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{author}}</h6>
                <p>Rating: <b>{{authorRating}}</b></p>
                <p class="card-text" style="max-height: 120px; overflow:scroll; text-align: justify; ">{{reviewText}}
                </p>
            </div>
            <div class="card-footer text-muted">
                Date submitted: {{submissionDate}}
            </div>
        </div>
    </div>